<div class="container emp-profile" style="background-color: whitesmoke; margin-top: 19%; margin-bottom: 10%;">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="../../assets/prof.png" alt=""/>
                    <!-- <i class="fa fa-user-circle-o fa-5x pull-right" aria-hidden="true" style="color: rgb(68, 69, 124);"></i>  -->
                </div>
            </div>
           <div class="profile-head">
                    
                <div class="row">
                    <div class="col-md-6">
                        <label class="labels">User Id</label>
                    </div>
                
                    <div class="col-md-6">
                        <p>uid</p>
                    </div>
                </div>
                    
                <div class="row">
                    <div class="col-md-6">
                        <label class="labels">Name</label>
                    </div>
                    <div class="col-md-6">
                        <p>username</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="labels">Email</label>
                    </div>
                    <div class="col-md-6">
                        <p>user@gmail.com</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="labels">Phone</label>
                    </div>
                    <div class="col-md-6">
                        <p>123456789</p>
                    </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label class="labels">Date of Birth</label>
                        </div>
                        <div class="col-md-6">
                            <p>23/01/1990</p>
                        </div>
                    </div>
        </div>
        
    </div>
    <hr style="background-color: rgb(255, 153, 0);">
    <div class="col-md-2" style="float: right;">
        <button type="submit" class="profile-edit-btn" name="btnAddMore">
            <i class="fa fa-pencil fa-fw"></i>
            Edit
        </button>
    </div>
    </form>
</div>
                        
