<!-- <header style="background-color: rgb(58, 37, 102);padding: 1%;">
    <a routerLink=""><i class="fa fa-arrow-circle-left" style="color: white;font-size: 25px"> Back</i></a>
</header> -->

<form class="form" action="" method="post">
    <br><h1 class="title" style="margin-top: 0.5%;">Registration</h1>
    <input type="text" class="inputs" name="firstname" placeholder="Firstname" required />
    <input type="text" class="inputs" name="lastname" placeholder="Lastname" required />
    <input type="text" class="inputs" name="email" placeholder="Email Adress">
    <input type="password" class="inputs" name="password" placeholder="Password">
    <input type="number" class="inputs" name="phonenumber" placeholder="Phone Number" required />
    <input type="submit" name="submit" value="Register" class="submitbutton">
    <p class="link">Already have an account? <a routerLink="../">Login here</a></p>
</form>

