<!-- <header style="background-color: rgb(58, 37, 102);padding: 1%;">
    <a routerLink=""><i class="fa fa-arrow-circle-left" style="color: white;font-size: 25px"> Back</i></a>
</header> -->
<form class="form" method="post" name="login">
    <h1 class="title" style="margin-bottom: 20%;">User/Admin Login</h1>
    <input type="text" class="inputs" name="username" placeholder="Username" autofocus="true"/>
    <input type="password" class="inputs" name="password" placeholder="Password"/>
    <input type="submit" value="Login" name="submit" class="submitbutton"/>
    <p class="link">Don't have an account? <a routerLink="Register"> Registration Now </a><i class="fa fa-plane"></i></p>
</form>
<!-- <router-outlet></router-outlet> -->