
  <section class="container ">
    <h2 style="text-align: center;">A1005</h2>
    <hr style="background-color: rgb(255, 153, 0);"><br>
    <div class="row justify-content-center">
      <div *ngFor="ticket in Tickets">
    <article class="card" *ngIf="ticket.Ticket_status==='booked'"> 
        <section class="date">
          <time datetime="23th feb">
            <span>23</span><span>feb</span>
          </time>
        </section>
        <section class="card-cont">
          <small>Flight ID: A1100</small>
          <h3>Mumbai To Kolkata</h3>
          <div class="even-info">
            <i class="fa fa-user"></i>
            <p>
             Passenger Name :
            </p>
          </div>
          <div class="even-date">
           <i class="fa fa-calendar"></i>
           <time>
             <span>wednesday 28 december 2014</span>
             <span>08:55pm to 12:00 am</span>
           </time>
          </div>
          <div class="even-info">
            <i class="fa fa-map-marker"></i>
            <p>
              Duration: 3:00 Hrs
             </p>
             <p>
               Seat Number: !A
              </p>
              <p>
               Class: Economy
              </p>
          </div>
         <br>
          <a href="#">Status: Booked</a> <br>
          <div class="even-info">
            <button class="btn btn-danger" data-toggle="modal" data-target="#primary">Cancel</button>
          </div>
        </section>
      </article>


      <article class="card" *ngIf="ticket.Ticket_status==='cancel'" style="font-style: oblique;">
        <section class="date">
          <time datetime="23th feb">
            <span>26</span><span>feb</span>
          </time>
        </section>
        <section class="card-cont">
          <small>Flight ID: A1105</small>
          <h3>Mumbai to Pune</h3>
          <div class="even-info">
            <i class="fa fa-user"></i>
            <p>
             Passenger Name :
            </p>
          </div>
          <div class="even-date">
           <i class="fa fa-calendar"></i>
           <time>
             <span>wednesday 28 december 2014</span>
             <span>08:55pm to 12:00 am</span>
           </time>
          </div>
          <div class="even-info">
            <i class="fa fa-map-marker"></i>
            <p>
             Duration: 3:00 Hrs
            </p>
            <p>
              Seat Number: !A
             </p>
             <p>
              Class: Economy
             </p>   
            </div>
          <a href="#">Status:cancel</a> <br>
          <div class="even-info">
          <button class="btn btn-danger" data-toggle="modal" data-target="#primary">Cancel</button>
              <!-- ---modal---- -->
          <div class="modal fade" id="primary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 50%; margin-left: 35%;margin-right: auto;text-align: left;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" style="height: 200px;">
                    <div class="modal-header-primary" >
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h5> Do you wish to Cancel the ticket?</h5>
                    </div>
               
                    <div class="modal-body" style="padding: 4%">
                      
                     Refund Amount: Rs. 2000 <br>
                     Card Number: 547814537896

                    </div>
                  
                    <div class="modal-footer" style="padding: 3%;">
                      <button class="btn btn-danger">Confirm Cancellation</button>
                    </div>
                
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
          </div>
        </section>
      </article>
    </div>
  </div>
</section>